@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
a{
  text-decoration: none;
}
a:visited{
  color: blue;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root{
--txt-color: rgb(245, 245, 245);
--black-text-color: hsl(0, 0%, 0%);
--new-font:'Bruno Ace SC', cursive;

}

.main-container{
    display: grid;
    grid-template-columns: calc(100% - 40%) auto;
    height: 100vh;
    width: 100%;
}
@media (max-width: 768px) {
    .main-container {
      grid-template-columns: 0 100%;
    }
          
      .cont-2{
        background-image: linear-gradient(to bottom right, rgba(45, 60, 122, 0.7),rgba(4,9,30,0.7)), url(bg.gif);
        background-size: cover;
      } 
      .form-cont{
        color:white;
      } 
      .cont-1{
        opacity: 0;
      } 
      
  }
  .cont-1 {
    background-image: url(bg.gif);
    background-size: cover;
    background-position: 10%;
    color: var(--black-text-color);
    font-family: var(--new-font);
    position: relative;

  }
  .cont-1-text{
    text-align: center;
    margin-top: 6rem;
    font-size: 3.3rem;
    padding: 10px;
    background-color: #ebebeb21;
    color: white;
  }

.cont-2{
    background-color: rgba(243, 243, 243, 0.452);
    display: grid;
    justify-content: center;
    align-content: center;
    color: var(--black-text-color);
    font-family: var(--new-font);
    font-size: 2.2rem;

}
  .form-cont{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 10px;
  }
  .submit-cont{
    text-align: center;
    margin-top: 5px;
  }
  
  #email, #password, #username{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
  }
  input:invalid{
    border-color: red;
  }

  input:valid{
    border-color: green;
  }
 

  .sub-button{
      background: hsl(340deg 100% 32%);
      border: none;
      border-radius: 12px;
      padding: 0px;
      cursor: pointer;
      outline-offset: 4px;
      margin-top: 10px;
  }
  .span-button{
  display: block;
  margin-top: 12px;
  padding: 1px 3.3rem;
  border-radius: 12px;
  font-size: 2.15rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
  }

  .sub-button:active .span-button{
    transform: translateY(-2px);
  }

  .fa-github {
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    color: rgb(227, 238, 162);  
  }
  
  .fa-github:hover {
    transform: rotate(360deg);
  }
  .copyright{
    color: white;
    font-size: 1.2rem;
    left: 40%;
    bottom: 0;
    position: absolute;
  }

  .on-wikipedia{
    font-size: 1.3rem;
    padding: 10px;
    color: white;
    text-align: center;
  }
  .wikipedia-A{
    text-decoration: none;
  }
  .wikipedia-A:visited{
    color: red;
  }