@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
a{
  text-decoration: none;
}
a:visited{
  color: blue;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root{
--txt-color: rgb(245, 245, 245);
--black-text-color: hsl(0, 0%, 0%);
--new-font:'Bruno Ace SC', cursive;

}

.main-container{
    display: grid;
    grid-template-columns: calc(100% - 40%) auto;
    height: 100vh;
    width: 100%;
}
@media (max-width: 768px) {
    .main-container {
      grid-template-columns: 0 100%;
    }
       
      .cont-2{
        background-image: linear-gradient(to bottom right, rgba(45, 60, 122, 0.7),rgba(4,9,30,0.7)), url(bg.gif);
        background-size: cover;
        background-position: 10%;
      }
      .get.started, .get.sign{
        color: white;
      }
      .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
  }
  .cont-1 {
    height: 100vh;
    min-height: 100vh;
    min-width: 60vw;
  }


  .bg-video {
    object-fit: cover;
    object-position: 0%;
    width: 100%;
    height: 100vh;
  }
.cont-2{
    background-color: rgba(226, 212, 201, 0.959);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-text-color);
    font-family: var(--new-font);
}

/* For DARK and LIGHT mode */
.switch {
    position: relative;
    display: block;
    width: 30px;
    height: 15px;
    align-self: end;

  }
 
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 2px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .form-cont{
    border: 4px solid rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 10px;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .submit-cont{
    text-align: center;
    margin-top: 5px;
  }
  